<div>
    <article>
      <div>
        <figure>
          <img src="<%= review.user.avatar %>" alt="Image" />
        </figure>
      </div>
      <div >
        <div>
          <strong> <%= comment.user.username %> </strong>
          <small> <%= new Date(review.createdAt).toLocaleString() %> </small>
          <br />
          <!-- create our stars -->
  
        <% for( let index = 0; index < 5; index++ ) { %> 
                      
                  <%= comment.body %>
          <br />
          <hr />
          <a href="blog/<%= comment.post._id %>"
            ><%= comment.post.name %></a
          >
        </div>
      </div>
      <div>
        <section>
          <div>
            <a> Edit </a>
            <hr/>
            <a>Remove</a>
          </div>
        </section>
      </div>
    </article>
  </div>