<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/partial.css" rel="stylesheet" type="text/css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto:wght@300&display=swap');
        </style>
    <title>LandPost</title>
</head>
<body>
    <!-- <img class="logo" src="https://imgur.com/AAyVs7u.png">
    <h2>LandPost</h2> -->

    <%- include('partials/nav.ejs') %>

    <div class="broader-content">
    <div class="index-content">
        <%for(let i=0; i<posts.length;i++){%>
            <div class="content">
                <div class="avatar-handle">
                    <h4 class="user-info">
                        <img src="<%=posts[i].avatar%>" class="avatar" style="width:50px">
                    </h4>
                        <h4 class="user-info" ><%=posts[i].user%></h4>
                </div>
                <h4><a href="/blog/<%=posts[i]._id%>"><img class="imgPost" src="<%=posts[i].image%>" ></a></h4>
            </div>
        <%} %>
    </div>
    </div>
</body>
</html>