<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/partial.css" rel="stylesheet" type="text/css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto:wght@300&display=swap');
      </style>
    <title>LandPost</title>
</head>
<body class="main-color">
  <%- include('partials/nav.ejs') %>
    <div>
        <img src="<%post.avatar%>">
        <img class="imgPost" src="<%=post.image%>" style="width: 500px">
        <div>
            <p><%=post.body%></p>
        </div>
        <%if (post.user === user.username) {%>
        <button><a href="/blog/<%=post.id%>/edit">Edit Post</a></button>
        <button><a href="/blog/<%=post.id%>/remove">Delete Post</a></button><% } %>
        <button><a href="/comments/<%=post.id%>/new">New Comment</a></button>
    </div>

    <section>
        <h3>Comments</h3>
        <ul>
          <%comments.forEach ( comment => { %>
          <li><%= comment.body %> 
            <%if (comment.user === user.username || comment.user === post.user) {%>
            <form class="commentDelete" action="/comments/<%=comment._id%>?_method=DELETE" method="POST">
            <input class="button is-danger" type="submit" value="Delete Comment"/> <% } %></li>
          <% }) %>
        </ul>
      </section>
</body>
</html>