<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandPost</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <h2>LandPost</h2>
    <div>
        <h2><%=post.user%></h2>
        <img src="<%=post.image%>">
        <div>
            <p><%=post.body%></p>
        </div>
        <button><a href="/blog/<%=post.id%>/edit">Edit Post</a></button>
        <button><a href="/blog/<%=post.id%>/remove">Delete Post</a></button>
    </div>
</body>
</html>